<section class="section_cta39">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="cta39_component">
          <div class="w-layout-grid cta39_card">
            <div class="cta39_card-content">
              <div class="cta39_card-content-top">
                <div class="margin-bottom margin-small">
                  <h2 class="heading-style-h2">Nekupujte, adoptujte!</h2>
                </div>
                <p class="text-size-medium text-color-green">
                  Nekupovat znamená dát šanci. Zatímco množírny a obchod se zvířaty produkují další a další „kusy“,
                  tisíce zvířat už na svůj domov čekají. Nekupujte zvíře jako produkt. Adoptujte parťáka.
                </p>
              </div>
              <div class="margin-top margin-medium">
                <div class="button-group">
                  <a href="#contact" class="button w-button">Kontakt</a>
                </div>
              </div>
              <img src="images/two-people.svg" loading="lazy" alt="" class="hide-desktop" />
            </div>
            <img src="images/two-people.svg" loading="lazy" alt="" class="cta-people" />
            <img src="images/Subtract.svg" loading="lazy" alt="" class="cta-corner" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

