<div class="footer-wrapper">
  <div class="dog-wrapper">
    <img src="images/dog_1.svg" loading="lazy" alt="" class="footer-dog" />
    <img src="images/strokes.svg" loading="lazy" alt="" class="footer-strokes" />
  </div>
  <footer id="contact" class="footer15_component" aria-label="Kontaktní informace a odkazy">
    <img src="images/grass.svg" loading="lazy" alt="" class="footer-grass" />
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-vertical padding-xxlarge">
          <div class="padding-bottom padding-large">
            <div class="footer15_image-wrapper">
              <img
                loading="lazy"
                src="images/logo-footer.svg"
                alt="Daisy azyl logo"
                class="footer15_image"
              />
              <div
                id="w-node-f509c98a-3d9a-d73c-3b98-de97180a4c19-d5b795d3"
                class="w-layout-grid footer15_menu-wrapper"
              >
                <div class="footer15_link-list">
                  <a href="/#o-nas" class="footer15_link">O nás</a>
                  <a href="/#podpora" class="footer15_link">Podpořte nás</a>
                  <a href="/#contact" class="footer15_link">Náš tým</a>
                  <a
                    href="/adopce/"
                    class="footer15_link{% if currentPage == 'adopce' or currentPage == 'adopce-detail' %} w--current{% endif %}"
                    {% if currentPage == 'adopce' or currentPage == 'adopce-detail' %}aria-current="page"{% endif %}
                    >Naši svěřenci</a>
                  <a
                    href="/adopce/"
                    class="footer15_link{% if currentPage == 'adopce' or currentPage == 'adopce-detail' %} w--current{% endif %}"
                    {% if currentPage == 'adopce' or currentPage == 'adopce-detail' %}aria-current="page"{% endif %}
                    >Našli domov</a>
                  <a
                    href="/aktuality/"
                    class="footer15_link{% if currentPage == 'aktuality' %} w--current{% endif %}"
                    {% if currentPage == 'aktuality' %}aria-current="page"{% endif %}
                    >Aktuality</a>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-bottom padding-xlarge">
            <div class="w-layout-grid footer15_top-wrapper">
              <div class="footer15_left-wrapper">
                <div class="margin-bottom margin-small">
                  <h2>Kontakty</h2>
                </div>
                <div class="margin-bottom margin-medium">
                  <div class="footer15_details-wrapper">
                    <div class="margin-bottom margin-tiny">
                      <div class="text-size-small text-weight-semibold text-color-dark-green">
                        Daisy azyl z.s.
                      </div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <div class="text-size-small text-color-dark-green">
                        Nový 30, 28903 Městec Králové
                      </div>
                      <div class="text-size-small text-color-dark-green">IČO: 21636982</div>
                    </div>
                    <div class="text-size-small text-color-dark-green">
                      V případě dotazů nás kontaktujte na
                      <a
                        target="_blank"
                        href="https://www.facebook.com/daisyazyl"
                        class="link"
                        >FB Messengeru</a> nebo na:
                    </div>
                    <div class="icon-wrapper">
                      <img src="images/phone.svg" loading="lazy" alt="phone icon" />
                      <a href="tel:+420605377899" class="link">605&nbsp;377&nbsp;899</a>
                    </div>
                    <div class="icon-wrapper">
                      <img src="images/email.svg" loading="lazy" alt="email icon" />
                      <a
                        href="mailto:daisyazyl@gmail.com?subject=P%C5%99i%C5%A1el%20V%C3%A1m%20email%20z%20webu"
                        class="link"
                        >daisyazyl@gmail.com</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer15_left-wrapper">
                <div class="margin-bottom margin-small">
                  <h2>Náš tým</h2>
                </div>
                <div class="margin-bottom margin-medium">
                  <div class="footer15_details-wrapper">
                    <div class="margin-bottom margin-tiny">
                      <div class="text-size-small text-weight-semibold text-color-dark-green">
                        <strong>Tereza Jandová</strong>
                      </div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <div class="text-size-small text-color-dark-green">
                        Organizace spolku, péče o zvířata, FB stránky
                      </div>
                      <div class="icon-wrapper">
                        <img src="images/phone.svg" loading="lazy" alt="phone icon" />
                        <a href="tel:+420605793896" class="link">605 793 896</a>
                      </div>
                    </div>
                    <div class="margin-bottom margin-tiny">
                      <div class="text-size-small text-weight-semibold text-color-dark-green">
                        <strong>Alžběta Brühl</strong>
                      </div>
                    </div>
                    <div class="text-size-small text-color-dark-green">
                      Správa sociálních sítí, PR, péče o dočasky, adopce
                    </div>
                    <div class="icon-wrapper">
                      <img src="images/email.svg" loading="lazy" alt="email icon" />
                      <a
                        href="mailto:daisyazyl@gmail.com?subject=P%C5%99i%C5%A1el%20V%C3%A1m%20email%20z%20webu"
                        class="link"
                        >daisyazyl@gmail.com</a
                      >
                    </div>
                    <div class="icon-wrapper">
                      <a
                        href="https://www.facebook.com/daisyazyl"
                        target="_blank"
                        class="facebook w-inline-block"
                      >
                        <div class="icon-embed-xsmall w-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M22 12.0611C22 6.50451 17.5229 2 12 2C6.47715 2 2 6.50451 2 12.0611C2 17.0828 5.65684 21.2452 10.4375 22V14.9694H7.89844V12.0611H10.4375V9.84452C10.4375 7.32296 11.9305 5.93012 14.2146 5.93012C15.3088 5.93012 16.4531 6.12663 16.4531 6.12663V8.60261H15.1922C13.95 8.60261 13.5625 9.37822 13.5625 10.1739V12.0611H16.3359L15.8926 14.9694H13.5625V22C18.3432 21.2452 22 17.083 22 12.0611Z"
                              fill="CurrentColor"
                            ></path>
                          </svg>
                        </div>
                      </a>
                      <div>
                        <a
                          target="_blank"
                          href="https://www.facebook.com/daisyazyl"
                          class="link"
                          >FB Messenger</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-horizontal"></div>
          <div class="padding-top padding-medium">
            <div class="footer15_bottom-wrapper">
              <div class="footer15_credit-text">
                © 2024 Daisy azyl. Všechna práva vyhrazena.
              </div>
              <div class="w-layout-grid footer15_legal-list">
                <a href="#" class="footer15_legal-link hide">Privacy Policy</a>
                <a href="#" class="footer15_legal-link hide">Terms of Service</a>
                <a href="/dokumenty/" class="footer15_legal-link{% if currentPage == 'dokumenty' %} w--current{% endif %}">Dokumenty</a>
                <a href="/vyrocni-zpravy/" class="footer15_legal-link{% if currentPage == 'vyrocni-zpravy' %} w--current{% endif %}">Výroční zprávy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

