<section id="podpora" class="section_layout58 text-color-white">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="layout58_component">
          <div class="margin-bottom margin-medium">
            <div class="text-style-tagline">Podpořte nás</div>
          </div>
          <div class="w-layout-grid layout58_content">
            <div class="layout58_content-left">
              <h2 class="heading-style-h3">Naplňme misky společně!</h2>
            </div>
            <div class="layout58_content-right">
              <div class="margin-bottom margin-medium">
                <p class="text-size-medium">
                  Naši milí, případnou finanční podporu, prosím, zasílejte na náš
                  <span class="text-color-yellow">transparentní</span> účet:<br />‍<br /><span class="money">🏦 </span>
                  <a target="_blank" href="https://transparentniucty.moneta.cz/267695286"
                    ><span class="money-p">267695286/0600<br /></span><br />‍</a
                  >vedený u MONETA Money Bank. Veškeré vaše příspěvky používáme
                  <span class="text-color-yellow">výhradně na přímou pomoc zvířátkům.</span>
                </p>
              </div>
              <div class="w-layout-grid layout58_item-list">
                <div
                  id="w-node-ad402200-72b8-07c4-32ff-d1cd48dbd798-48dbd776"
                  class="layout58_item"
                >
                  <div class="layout58_item-icon-wrapper">
                    <img loading="lazy" src="images/cat.svg" alt="" class="icon-1x1-small" />
                  </div>
                  <div class="layout58_item-text-wrapper">
                    <div class="margin-bottom margin-xsmall">
                      <h3 class="heading-style-h6">Kočičky</h3>
                    </div>
                    <p>
                      Podpoříme kočičky nákupem speciálních granulí a dopřejeme jim míčky, myšičky a jiné
                      hračky.
                    </p>
                  </div>
                </div>
                <div
                  id="w-node-ad402200-72b8-07c4-32ff-d1cd48dbd7a1-48dbd776"
                  class="layout58_item"
                >
                  <div class="layout58_item-icon-wrapper">
                    <img loading="lazy" src="images/dog.svg" alt="" class="icon-1x1-small" />
                  </div>
                  <div class="layout58_item-text-wrapper">
                    <div class="margin-bottom margin-xsmall">
                      <h3 class="heading-style-h6">Pejsci</h3>
                    </div>
                    <p>
                      Naši rošťáci potřebují jak granulky, tak nové obojky, pelíšky a spoustu míčků na
                      aportování!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <img loading="lazy" src="images/cup.svg" alt="" class="support-cup" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

